<div class="modal-header">
    <h3>{{modalData.word}}</h3>
</div>
<div class="modal-body">

    </div><b>Pronunciations:</b>
    <ul>
        <li ng-repeat="item in modalData.pronunciations" ng-bind-html="format(item)"/>
    </ul>
    <hr/>
    <b>Definitions:</b>
    <ul>
        <li ng-repeat="item in modalData.definitions" ng-bind-html="format(item)"/>
    </ul>
    <hr/>
    <b>Examples:</b>
    <ul>
        <li ng-repeat="item in modalData.examples" ng-bind-html="format(item)"/>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeModal()">Close</button>
</div>