@()<!doctype html>
<html lang="en">
    <head>
        <title>bookwitz</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("web/stylesheets/stylesheet.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/ui-grid/ui-grid.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.css"))" />
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))" />
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("angular-resource.js"))" />
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.js"))" />
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("ng-file-upload.min.js"))" />
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.js"))" />
        <script data-main="@routes.Assets.versioned("javascripts/app.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.js"))"></script>
    </head>
    <body>
        <div class="container" ng-view></div>
    </body>
</html>
